
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.0em;
    line-height: 1.5;
    color: #333;
    background: #dfdfdf;
    margin:0px;
}

pre, code {
  font-size:14px;
  margin-top:0px;
  overflow:auto;
}

a:link, a:visited, a:active {  text-decoration:none;  color:#579;}
a:hover { text-decoration:underline;}

li {
  display: list-item;
}

ul, menu, dir {
  list-style-type: disc;
}

p {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

p.post-author {
  color:#777;
  margin-top: 0px;
  margin-left: 0.2em;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
  font-size: 0.8em;
}

p.contact-details {
  color:#666;
  margin-top: 0px;
  margin-left: 0.1em;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
  font-size: 0.8em;
}

h1, h2, h3, h4, h5 {
  display: block;
  font-family:'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color:#444;
  text-decoration:none;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.20em;
  -webkit-margin-start: 0px;
}


h2, h3, h4, h5 {
  margin-bottom:0.8em;
  margin-top:0.8em;
}

h1 {
    font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.0em;
}

table th,td {
  border: 1px solid #bbb;
}

#page-wrap {
    width: 783px;
    margin: 0em auto;
    padding: 0em;
    background:#fff;
    border: none; /*1px solid #bbb;*/
}

/*
  medium wide img, use 70% column witdth on desktop, full width on mobile.

  <img class="img-medium-wide" />
*/
.img-medium-wide {
  width: 70%;
}

@media only screen and (max-width: 768px) {
#page-wrap {
    width: 100%;
    margin: 0em auto;
    padding: 0em;
    background:#fff;
    border: none;
}

.img-medium-wide {
  width: 100%;
}
}

#header {
  width:100%;
  padding-top: 13px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 13px;
  background-image: url(/images/bloghead2.jpg);
  background-repeat: no-repeat;
  border: 0px solid #000;
  min-height: 40px;
}

#header h1 {
    text-transform:uppercase;
    letter-spacing:0.2em;
    padding-left:0.4em;
    color:#fff;
    text-shadow: 3px 3px 5px #000;
}

div#navigation {
    padding-left:0px;
    padding-right:0px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #112;
    text-align: left;
    font-family:'Lucida Grande', Helvetica, Arial, sans-serif;
}

div#navigation a {
    color: white;
    text-decoration: none;
    padding: 4px;
    margin-left: 15px;
    margin-right: 10px;
    font-weight: bold;
    letter-spacing:0.15em;
}

div#navigation a:hover {
    text-decoration: underline;
}

#content {
    margin-top: 1em;
    margin-bottom: 1em;

    margin-left: 1em;
    margin-right: 1em;
}

#footer {
    margin-top: 1em;
    margin-bottom: 1em;

    margin-left: 1em;
    margin-right: 1em;
    border-top: 1px solid #ddd;
    padding-top: 1em;
    padding-bottom: 2em;

    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
    font-size: 0.8em;
    color: #666;
}


div.screenshot {
    text-align:center;
}

/* for screenshots with whitebackground, add a very dim border */
div.white-bg img {
  border: 1px dashed #ccc;
}

.social {
    list-style: none;
    padding-left: 0;
}

.social li{
    display:inline;
    padding-left: 0;
}

.fb-like {
    position:relative;
    top:-7px;
}

/* youtube auto width/height */
.youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-pixelated {
  image-rendering: pixelated;
}

/* Two column image layout.  Wrap in img-columns-2 container, then add img-
/* column to both children:

 <div class="img-columns-2">
   <img class="img-column" />
   <img class="img-column" />
 </div>

To make an image layout with captions, do:

 <div class="img-columns-2">
   <p class="img-column">
     <img ... />
     Text here
   </p>
   <p class="img-column">
     <img ... />
     Text here
   </p>
 </div>
*/

div.img-columns-2 {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  align-items: flex-start;
}

.img-column {
  width: 48%;
  padding: 0px;
  margin:0px;
}

p.img-column {
  font-size: 1.0em;
}

.img-small {
  width: 30%;
}

.img-smallest {
  width: 15%;
}

/* sine wave blog post related. would be nice if these could be moved into
/* markdown instead of setting globally here. */
div.sine-columns-2 {
  display: flex; /* or inline-flex */
  justify-content: flex-start;
  align-items: flex-start;
}

.sine-column-1 {
  width: 70%;
  padding: 0px;
  margin:0px;
}

.sine-column-2 {
  width: 15%;
  padding: 0px;
  margin:0px;
  margin-left: 1em;
}
