
body {
    width: 783px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #1a1a1a;
    background: #fff;
}

h1, h2, h3, h4 {
    font-family:'Lucida Grande', Helvetica, Arial, sans-serif;
    text-decoration:none;
}

#header {
  background:#fff;
  padding-top: 6px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-image: url('/images/bloghead2.jpg');
  background-repeat: no-repeat;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#header h1 {
    text-transform:uppercase;
    letter-spacing:0.2em;
    padding-left:0.4em;
    color:#fff;
    text-shadow: 3px 3px 5px #000;
}

div#navigation {
    text-align: left;
}

div#navigation a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
}
