
body {
    min-width: 880px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #1a1a1a;
    background: #fff;
}

h1, h2, h3, h4 {
    font-family:'Lucida Grande', Helvetica, Arial, sans-serif;
    text-decoration:none;
}

h1#header {
    text-transform:uppercase;
    letter-spacing:0.2em;
}

div#navigation {
    text-align: left;
    border-bottom: 4px solid black;
}

div#navigation a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
}
